[core]
pager = less -FX
autocrlf = input
excludesfile = ~/.gitignore

[user]
name = {{name}}
email = {{email}}

[color]
branch = auto
status = auto
diff = auto
ui = auto
wtf = true

[pack]
threads = 2

[alias]
l = log
co = checkout
s = status
b = branch
re = rebase
a = add
f = fetch
r = reset
p = push
fa = fetch --all
c = commit
age = !git-age $0
pulln = !git-pulln $0
d = diff
wtf = status
publish = !legit publish \"$@\"
track-remote = !git-trackremote $0
lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
pullr = pull --rebase
dc = diff --cached
egrep = grep -E
root = rev-parse --show-toplevel
pr = !"pr() { git fetch origin pull/$1/head:pr-$1; }; pr"
pushfwl = push --force-with-lease
pf = pushfwl
fixup = commit --fixup
autosquash = rebase -i --autosquash
au = rebase -i --autosquash
sup = !"up() { git branch --set-upstream-to=origin/${1:-$(git branch --show-current)} ${1:-$(git branch --show-current)}; }; up"
p = pull

[push]
default = current
autoSetupRemote = true
followTags = true

[branch]
autoSetupRebase = always
sort = -committerdate

[fetch]
prune = true
pruneTags = true
all = true

[tag]
sort = version:refname

[tar "tar.xz"]
command = xz -c

[diff]
algorithm = histogram
colorMoved = plain
mnemonicPrefix = true
renames = true
conflictstyle = zdiff3

[status]
submoduleSummary = true

[pull]
rebase = true

[init]
defaultBranch = main

[rerere]
enabled = true
autoupdate = true

[column]
ui = auto

[help]
autocorrect = prompt

[commit]
verbose = true

[rebase]
autoSquash = true
autoStash = true
updateRefs = true

