{# vim: set ft=sh: #}
if [ "$(command -v exa)" ]; then
    unalias -m 'll'
    unalias -m 'l'
    unalias -m 'la'
    unalias -m 'ls'
    alias ls='exa -G  --color auto -a -s type'
    alias ll='exa -l --color always -a -s type'
elif [ "$(command -v lsd)" ]; then
    unalias -m 'll'
    unalias -m 'la'
    unalias -m 'ls'
    alias ls='lsd'
    alias ll='lsd -l'
    alias la='lsd -a'
fi

if [ "$(command -v nvim)" ]; then
    alias vim='nvim'
    alias vi='nvim'
    alias e='nvim'
elif [ "$(command -v hx)" ]; then
    alias e='hx'
fi

alias t=tig
alias g=git
if [ "$(command -v bat)" ]; then
  alias c=bat
fi

if [ "$(command -v kubectl)" ]; then
  alias k=kubectl
fi
alias sshu='ssh -o "UserKnownHostsFile=/dev/null" -o "StrictHostKeyChecking=no"'
